<a href="https://colab.research.google.com/github/Anmolkr1909/Loop/blob/main/loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loop

---

38) Number Guessing Game
 *  using ( while loop + break )

In [ ]:
secret_number = 7


while True:
    guess = int(input("Guess a number between 1 to 10: "))

    if guess == secret_number:
        print(" Correct! You win.")
        break  # End game when guessed
    else:
        print(" Wrong guess. Try again.")

Guess a number between 1 to 10: 3
 Wrong guess. Try again.
Guess a number between 1 to 10: 6
 Wrong guess. Try again.
Guess a number between 1 to 10: 9
 Wrong guess. Try again.
Guess a number between 1 to 10: 7
 Correct! You win.



---

39) Student Marks Average Calculator
*  using ( for loop )

In [ ]:
# List of marks for 5 subjects
marks = [80, 90, 75, 60, 85]

total = 0
for mark in marks:
    total += mark  # Add all marks

average = total / len(marks)
print("Average marks:", average)

Average marks: 78.0



---

40)  Odd-Even Number Separator
   *  using (for loop + continue)

In [ ]:
numbers = [1, 4, 5, 7, 10, 11]

for num in numbers:
    if num % 2 == 0:
        continue  # Skip even numbers
    print("Odd number:", num)

Odd number: 1
Odd number: 5
Odd number: 7
Odd number: 11



---

41)  Login System (3 tries only)
   *  using  (while loop + break)

In [ ]:
correct_password = "hello123"
attempts = 0

while attempts < 3:
    user_input = input("Enter password: ")

    if user_input == correct_password:
        print("Login successful!")
        break
    else:
        print("Wrong password.")
        attempts += 1

if attempts == 3:
    print("Too many attempts. Access denied.")

Enter password: 123
Wrong password.
Enter password: hello123
Login successful!



---

42) Name Letter Counter
* using (for loop + pass)

In [ ]:
name = "Anmol"

for letter in name:
    if letter == "z":
        pass

    print("Letter:", letter)

Letter: A
Letter: n
Letter: m
Letter: o
Letter: l



---